html,
body {
    position: relative;
    width: 100%;
    height: 100%;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

main{
  // padding: 100px 0;
}
