.button {
    display: block;
    max-width: 80%;
    margin: 0 auto;
    appearance: none;
    border: none;
    background-color: #000;
    color: #fff;
    height: 40px;
    line-height: 40px;
    text-align: center;
    // padding: 7px 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 900;
    font-style: italic;
    position: relative;
    border-radius: 50px;
    &:hover,
    &:focus,
    &:visited,
    &:active {
        color: #fff;
        text-decoration: none;
    }
    &:hover{
      background-color: rgb(83,88,96);
    }
}
