.header {
    width: 100%;
    // background-color: #fff;
    &-content {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-nav-list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-item {
            margin-right: 10px;
        }
    }
    .header-logo{
      margin: 0 auto;
    }
}
