.sub-section {
    background-color: #fff;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    perspective: 1300px;
    &-image{
      background-color: #eee;
      transform: rotateY(40deg) scale(0.9);
      position: relative;
      left: 50px;
      p{
        text-transform: uppercase;
        font-weight: 900;
        color: rgb(14,14,14);
        margin: 5px auto;
        font-size: 34px;
      }
    }
    &-content{
      padding-right: 24px;
      h3{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 34px;
        color: rgb(14,14,14);
        margin-bottom: 20px;
      }
      p{
        font-size: 18px;
        text-align: justify;
      }
    }
    &#bookers{
      .row{
        flex-direction: row-reverse;
      }
      .sub-section-image{
        transform: rotateY(-40deg) scale(0.9);
        left: auto;
        right: 50px;
      }
    }
}
