.intro-section {
    background-color: #fff;
    height: 100vh;
    padding: 100px 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    &-nav{
      width: 10vw;
      height: 100%;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      &-item{
        color: rgb(14,14,14);
        font-weight: 300;
        font-size: 32px;
        transform: rotate(-90deg);
        &:hover{
          color: rgb(83,88,96);
          text-decoration: none;
        }
      }
    }
    &-content{
      width: 80vw;
      margin: 0 auto;
      height: 100%;
      background-color: #eee;

      p{
        color: rgb(14,14,14);
        text-transform: uppercase;
        font-weight: 900;
        font-size: 38px;
      }
    }
}
