.features-list{
  ul{
    list-style: none;
    padding: 0;
    // padding-top: 10px;
    li{
      display: inline-block;
      width: calc(100% / 3);
      .feature-shape{
        background-color: #fff;
        border: 1px solid #000;
        transform: rotate(45deg);
        width: 50px;
        height: 50px;
        display: block;
        text-align: center;
        margin: 10px auto 15px;
      }
    }
  }
}
