.footer {
    width: 100%;
    // background-color: #fff;
    &-content {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-item{
          margin: 0 auto;
          font-size: 24px;
          color: rgb(14,14,14);
          font-weight: 900;
          font-style: italic;
          text-transform: uppercase;
          &:hover{
            color: rgb(83,88,96);
            text-decoration: none;
          }
        }
    }
}
